*.bak
*-bak
tmp/
doc/pdf/
doc/html/
*.o
*.pyc
.scons*
software/Doxyfile
software/bin/
software/build/
software/buildd/
software/doc/
software/fwrtss.config
software/fwrtss.files
software/fwrtss.includes
datasheets/
doc/
eda/output/*
!eda/output/gerber/
